h3{
    color:red;
    margin-top: 180px;
    margin-left: 70px;
    margin-right: 100px;
}

.p1{
    color: white;
    margin-left: 70px;
    margin-right: 1250px;
    
}

h4{
    color:red;
    margin-left: 70px;
    margin-right: 100px;
}

footer{
    color: white;
}